mat-toolbar {
  background: black;
  color: white;
}

button {
  height: 36px;
  width: 120px;
}

#towers {
  margin: 10px;
}

.tower {
  &:hover {
    cursor: pointer;
  }

  &.loading,
  &.blockless {
    &:hover {
      cursor: not-allowed;
    }
  }

  display: inline-block;
  width: 40px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  line-height: 20px;
  text-align: center;
  vertical-align: bottom;
}
