<mat-toolbar class="mat-elevation-z8">
  <!-- <img src="assets/images/Kagami_Logo_G.png" class="main-header" /> -->

  NEOPOLIS

  <span class="spacer"></span>
  <!-- Content displayed to the right of the toolbar goes here -->

  <span *ngIf="signer"
    >{{ this.signer.shortenedAddress }} |
    {{ this.signer.blockBalance }} BLX</span
  >
</mat-toolbar>

<div *ngIf="connectedToNeonNetwork && signer">
  <div id="towers">
    <div
      *ngFor="let height of towers; let towerIndex = index"
      class="tower"
      [ngClass]="{
        blockless: !signer.hasBlocks,
        loading: blockPlacementInProgress
      }"
      style="height: {{ 20 + height * 5 }}px"
      (click)="placeBlock(towerIndex)"
    >
      {{ height }}
    </div>
  </div>

  <div *ngIf="blockPlacementInProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div *ngIf="!connectedToNeonNetwork">
  In order to enter Neopolis you must be connected to the Neon network
</div>
